@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css);
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=PT+Serif&family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 16px/1.4 'Helvetica';
}

body {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    /* min-height: 100vh; */
    background-color: #fcf3e7;
}

.containerCreate {
    max-width: 900px;
    margin: 0 auto;
}

.green-text {
    color: #00b894;
}

.all-rights .green-text {
    margin-right: 0.3em;
}

.newPostHeading {
    display: flex;
    justify-content: center;
    color: #313030;
    font-size: 1.2em;
    letter-spacing: 0.2em;
    margin: 0.5em;
}

.sectionArticle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #313030;
    color: #fcf3e7;
    padding: 0.8em 1.3em;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 0px rgba(49, 49, 48, 0.75);
    margin-bottom: 4em;
    border-bottom: 4px solid #00b894;
    border-top: 4px solid #00b894;
}

.containerCreate .sectionArticle {
    min-width: 60em;
}

.createForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
    padding: 1.5em 1em;
    border-radius: 5px;
}

.createForm textarea {
    resize: vertical;
}

.createForm  input,
.createForm  textarea {
    padding: 0.7em;
    border-radius: 5px;
    border: none;
}

.postButtonContainer {
    display: flex;
    justify-content: center;
}

.newPostButton {
    padding: 0.5em 2em;
    border-radius: 5px;
    border: none;
    color: #fcf3e7;
    background-color: #353534;
    font-weight: bold;
    border-bottom: 2px solid #00b894;
    border-top: 2px solid #00b894;
    margin-top: 0.2em;
}

.newPostButton:hover {
    padding: 0.5em 2em;
    border-radius: 5px;
    border: none;
    color: #00b894;
    background-color: #313030;
    border-bottom: 2px solid #00b894;
    border-top: 2px solid #00b894;
    font-weight: bold;
    cursor: pointer;
}

.specific {
    font-size: 0.8em;
    margin-bottom: -2em;
}

.errorMessage {
    font-size: 0.7em;
    color: #eb3b5a;
    margin-top: -2em;
}
