@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css);
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=PT+Serif&family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 16px/1.4 'Helvetica';
}


body {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    /* min-height: 100vh; */
    background-color: #fcf3e7;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

.section-site-main {
    display: flex;
    /* margin-bottom: 2em; */
}

.section-article-not-found {
    display: flex;
    max-width: 30em;
    justify-content: space-between;
    align-items: center;
    /* flex-direction: column; */
    background-color: #313030;
    color: #fcf3e7;
    padding: 2em 2em;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 0px rgba(49, 49, 48, 0.75);
    margin-top: 2em;
    margin-bottom: 4em;
    border-bottom: 4px solid #00b894;
    border-top: 4px solid #00b894;
}

.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6em;
    padding: 0em 2em;
}

.green-text,
.not-found p {
    color: #00b894;
}

.text-not-found {
    font-size: 2em;
    font-weight: bold;
}

.four-zero-four {
    font-size: 10em;
    /* letter-spacing: 0.2em; */
}

.all-rights .green-text {
    margin-right: 0.3em;
}

.go-home-page {
    display: flex;
    justify-content: center;
}

.go-home-page a {
    padding: 0.5em 2em;
    border-radius: 5px;
    border: none;
    color: #fcf3e7;
    background-color: #313030;
    border-top: 2px solid #00b894;
    border-bottom: 2px solid #00b894;
    font-weight: bold;
    text-decoration: none;
}

.go-home-page:hover a {
    padding: 0.5em 2em;
    border-radius: 5px;
    border: none;
    color: #00b894;
    background-color: #3b3b3b;
    border-top: 2px solid #00b894;
    border-bottom: 2px solid #00b894;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}